/*https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css*/

body {
    font-family: serif;
    /*background-size: 40px 40px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
*/}
header {
  margin: 0px auto;
  text-align: center;

}
h1{
  margin-bottom: 5px;
}
h3 {
  margin-top: 3px;
}
#rightside{
  float: right;
}

#container {
  border-color: black;


}

#leftside{
  float: left;
  padding: 0;
}

.sideBars {
  font-family: 'Georgia', serif;
  background-color: #FAEBD7;
  border-style: double;
  border-color: black;
  padding: 10px;
  padding-bottom: 15px;
  width: 135px;
  text-align: center;
}

#leftside h5{
  margin: 3px 7px;

}


svg {
    border: 2px solid black;
    overflow: hidden;
}

svg text {
cursor: default;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#masterInput {
  text-align: center;
}

#masterCreate {
  margin-top: 9px;
  margin-bottom: 9px;
}

#masterVar{
  margin-top: 9px;
  text-align: center;
}
