/*https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css*/
html {
  height: 100%;
}
body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
  }
header {
  text-align: left;
  float: left;
  width: 100%;
  background-color: Gainsboro;
}

#subHeader {
 width: 50%;
 display: inline-block;
}
h1{
  margin: 0px;
  width: 100%;
}
h3{
  margin: 0px;
  width: 100%;
}
#container {
  width: 77%;
  height: 100%;
  display: inline-block;
  float:right;
}


svg {
    overflow: hidden;
    display: inline;
    margin: 100px 0px;
    width: 100%;
    float: right;
    height: 100%;
}

svg text {
cursor: default;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
#table {
  text-align: left;
  overflow: scroll;
  width: 23%;
  height: 100%;
  float:left;
  display: inline-block;
  border-collapse: collapse;
  border-right: 15px solid gray;
  border-top: none;
  box-sizing: border-box;

}

#body-content{
  clear:both;
  border-top: 1px solid black;
  height: 100%;
}

tr {
  border: 1px solid black;
}

td {
  height: 50px;
}

#table input {
  border: none;
  padding-left: 15px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  background-color: rgba(0, 0, 255, 0.1);
}

#derivative {
  float: right;
  margin: 0;
  width: 35%;
  display: inline-block;
}

.var {
  border: 1px solid black;
}
