/*https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css*/

body {
  height: 75px;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}
header {
  margin: 0px auto;
  text-align: center;
  font-family: 'Georgia', serif;

}
h1{
  margin-bottom: 5px;
}
h3 {
  margin-top: 3px;
}
#rightside{
  float: right;
}

#btn{
  font-size: 10px;
}
#bar {
  text-align: center;
}
#functDisplay {
  text-align: center;
}


#container {
  border-color: black;
}

#leftside{
  float: left;
  padding: 0;
}

.sideBars {
  font-family: 'Georgia', serif;
  background-color: #FAEBD7;
  border-style: double;
  border-color: black;
  padding: 10px;
  padding-bottom: 50px;
  width: 135px;
  text-align: center;
}

#leftside h5{
  margin: 3px 7px;

}
